<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">W tym tygodniu polecamy:</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Espresso</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Espresso to kawowy napar powstały w wyniku zaparzenia zmielonych ziaren kawy - esencja smaku zawarta w niewielkiej porcji aromatycznego naparu. Klasyczną kawę espresso parzy się z około 7 gram świeżo zmielonej kawy. Ciśnienie wody przepływającej przez drobinki kawy powinno wynosić 9 bar, a jej temperatura powinna być w granicach 88 - 92 °C.
                            Ile ml ma espresso? W ciągu około 25 sekund ekstrakcji kawy powinniśmy uzyskać 25 ml gęstego naparu w filiżanceKawę espresso serwuje się w podgrzanych, niewielkich filiżankach o pojemności około 70 ml.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cappuccino</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Cappuccino to symbol Włoch i jeden z najpopularniejszych napojów kawowych na całym świecie. Wzorcowe, włoskie cappuccino to porcja (25 ml) espresso oraz 100 ml mleka (przed spienieniem). Podstawową zasadą dobrego cappuccino jest odpowiednio spienione mleko, które nie może mieć struktury sztywnej jak piana, lecz bardziej powinno przypominać jogurt.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Tiramisu</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Tiramisu jest to  deser złożony z warstwy biszkoptu nasączonej bardzo mocną kawą espresso, na którą nakłada się warstwę kremu z sera mascarpone, żółtek jaj kurzych i cukru, a całość posypuje się warstwą grubo zmielonych płatków gorzkiej czekolady.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Brownie</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Brownie jest to ciasto czekoladowe typowe dla kuchni amerykańskiej. Nazwa pochodzi od charakterystycznego, ciemnobrązowego koloru wypieku.
                            Ciasto przygotowuje się z gorzkiej czekolady, jajek, cukru, masła i niewielkiej ilości mąki. Częstym dodatkiem do brownie są orzechy.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>